repos:

# Basic file hygiene
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-merge-conflict
    - id: check-toml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: trailing-whitespace

# Ruff format and lint
- repo: local
  hooks:
    - id: ruff
      name: ruff
      entry: uv run ruff
      language: system
      types_or: [python, pyi]
      args: ["check", "--fix"]
    - id: ruff-format
      name: ruff-format
      entry: uv run ruff
      language: system
      types_or: [python, pyi]
      args: ["format"]

# Static type analyzer
- repo: local
  hooks:
    - id: mypy
      name: mypy
      entry: uv run mypy
      language: system
      types_or: [python, pyi]
      require_serial: true
      pass_filenames: false
